.mult{
    margin-top: 50px;
}

.main-column{
    display: flex;
    flex-direction: column;
}


.main-row{
    border: solid 1px green;
    margin-top: 2px;
    display: flex;
    flex-direction: row;
}

.digit-item{
    margin: 3px;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-radius: 50%;
    background-color: white;
    color: blue;
}

.digit-item-number{
    margin: 3px;
    width: 30px;
    height: 30px;
    border-style: solid;
    background-color: green;
    color: white;
}

.digit-item-selected{
    background-color: blue;
    color: white;
}

